
@{
    ViewBag.Title = "ThankYouPage";
}

<h2>Thank You Page</h2>

<br /><br />
<div class="panel panel-info" style="width:40%;margin-left:30%">
    <div class="panel panel-heading">
        <h3 style="text-align:center">Booking Complete</h3>
        <p style="text-align:center">Thank You for Booking, your booking is being processed. <br />Please check the status of your booking in the next 24 hours on<br /> the 
        "My Booking" link is on your navigation bar. 
        </p>
    </div>
</div>